<!DOCTYPE html>
<html lang="zxx">
<head>
	<title>Divisima | eCommerce</title>
	<meta charset="UTF-8">
	<meta name="description" content=" Divisima | eCommerce Template">
	<meta name="keywords" content="divisima, eCommerce, creative, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Favicon -->
	<link href="img/favicon.ico" rel="shortcut icon"/>

	
	<!-- Latest compiled and minified CSS & JS -->
	
	<!-- Google Font -->
	<!-- <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,700,700i" rel="stylesheet"> -->
	<!-- Stylesheets -->
     <link rel="stylesheet" href="css/bootstrap.min.css"/>
	<link rel="stylesheet" href="css/font-awesome.min.css"/>
	<link rel="stylesheet" href="css/flaticon.css"/>
	<link rel="stylesheet" href="css/slicknav.min.css"/>
	<link rel="stylesheet" href="css/jquery-ui.min.css"/>
	<link rel="stylesheet" href="css/owl.carousel.min.css"/>
	<link rel="stylesheet" href="css/animate.css"/>
	<link rel="stylesheet" href="css/style.css"/>
</head>
<body>
    <header class="header-section">
		<div class="header-top">
			<div class="container">
				<div class="row">
					<div class="col-lg-2 text-center text-lg-left">
						<!-- logo -->
						<a href="/" class="site-logo">
							<img src="images/logo.png" alt="">
						</a>
					</div>
					<div class="col-xl-6 col-lg-5">
						<form class="header-search-form" action="/search" method="POST">
							<input type="text" name="nameProduct" placeholder="Search on divisima ....">
							<button type="submit"><i class="flaticon-search"></i></button>
						</form>
					</div>
					<div class="col-xl-4 col-lg-5">
						<div class="user-panel">
							 <div class="up-item">
                <i class="flaticon-profile"></i>
                
                 <% if(!uname) { %>
                <a href="#" data-toggle="modal" data-target="#modalLoginForm">Sign In</a>  or <a href="#" data-toggle="modal" data-target="#modalRegisterForm">Create Account</a>
                <% } else { %>
                  <a style="margin-right: 25px; font-weight: bold;"><%= uname %></a> <a href="/logout">Đăng xuất</a>
                  <% } %>
                            </div> 
							
						</div>
					</div>
				</div>
			</div>
		</div>
		<nav class="main-navbar">
			<div class="container">
				<!-- menu -->
				<ul class="main-menu">
                    <li><a href="/">Trang chủ</a></li>
                    
                    <% for (var i = 0; i < cate.length; i++) { %>
                      <li><a href="/"><%=cate[i].nameCategory%></a></li>
                      <% } %>

				</ul>
			</div>
		</nav>
    </header>
    <div class="page-top-info" style="padding: 40px 0 50px;">
		<div class="container">
			<h4>Đơn hàng của bạn</h4>
			<div class="site-pagination">
				<a href="/">Home</a>
			</div>
		</div>
    </div>
    <div>

		<!-- danh sach order cua customer hien tai -->
		<%var lst=[];%>
		<%for(let i = 0 ; i < order.length ; i++){%>
			<%if(order[i].idCustomer==khs[0].idCustomer){%>
				<%lst.push(order[i]);%>
			<%}%>
		<%}%>
		
		<!-- danh sach cac ma hoa don cua khach hang -->
		<%var lstNum=[];%>
		<%var p=0;%>
		<%for(let i = 0; i< lst.length; i++){%>
			<%var flag=0;%>
			<%for(let j = 0 ; j < lstNum.length ; j++){%>
				<%if(lst[i].idOrder==lstNum[j]){%>
					<%flag=1;%>
					<%break;%>
				<%}%>
			<%}%>
			<%if(flag==0){%>
				<%lstNum.push(lst[i].idOrder);%>
				<%p++;%>
			<%}%>
		<%}%>
		
		<%for(var j=0; j < lstNum.length; j++){%>
			<!-- Lay danh sach chi tiet cua hoa don co ma la lstNum[i] -->
			<%var lstSP=[];%>
			<%for(let i = 0 ; i < lst.length ; i++){%>
				<%if(lst[i].idOrder==lstNum[j]){%>
					<%lstSP.push(lst[i]);%>
				<%}%>
			<%}%>
		<div class="row" style="margin-top: 20px;margin-bottom: 20px; margin-left: 10%; border: 1px solid #585858; border-radius: 10px; margin-right: 10%;">
		

            <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
					<ul class="list-group" style="margin-top: 10px; margin-bottom: 10px;">	
							<%var tongtien = 0%>				
							<%for(var h =0; h < lstSP.length;h++){%>
								<%for(let k =0;k < sps.length;k++){%>
									<%if(lstSP[h].idProduct== sps[k].idProduct){%>
										<%var tensp = sps[k].nameProduct%>
										<%if(lstSP[h].status!="Đã hủy"){%>
											<%tongtien = tongtien + sps[k].price*lstSP[h].quantity%>
										<%}%>
										<% break;%>
									<%}%>
								<%}%>	
								<%if(lstSP[h].status=="Chờ xử lý" || lstSP[h].status=="Đã hủy"){%>
								<form action="/order/cancel" method="POST">
									<input type="text" value="<%=lstSP[h].order%>" name="order" style="display: none;"/>
									<input type="text" value="<%=lstSP[h].idOrder%>" name="idOrder" style="display: none;"/>
								<li class="list-group-item"><%=lstSP[h].quantity%> x <%=tensp%> <%=lstSP[h].order%>

									 <button type="submit" style="float: right; background-color: red; color: white;">X</button>
									  <b style="float: right; margin-right: 40px;"><%=lstSP[h].status%></b>
								</li>
								</form>
								<%}%>
								<%if(lstSP[h].status=="Đang giao"){%>
									<li class="list-group-item"><%=lstSP[h].quantity%> x <%=tensp%> <%=lstSP[h].order%>

										<button type="button" data-toggle="modal" data-target="#myModal" style="float: right; background-color: red; color: white;">X</button>
										 <b style="float: right; margin-right: 40px;"><%=lstSP[h].status%></b>
								   </li>
								<%}%>
							<%}%>
						  </ul>

			</div>
			
			<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="display: inline-block;">
                <div style="height: 100%;">
					 <ul style="display: inline-block;">
						<br/>
                        <li style="list-style-type: none; text-align: center;">Tổng tiền: <b><%=tongtien%></b> VND </li>
					</ul>
					
				
				</div>
			
            </div>
		
		</div>
		
        <%}%>
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            
        </div>
        
	</div>

	<div class="modal fade" id="myModal" role="dialog">
		<div class="modal-dialog modal-sm">
		  <div class="modal-content">
			<div class="modal-header">
			  <h4 class="modal-title">Thông báo</h4>
			</div>
			<div class="modal-body">
			  <h6>Sản phẩm đang được giao. Không thể hủy.</h6>
			</div>
			<div class="modal-footer">
			  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		  </div>
		</div>
	  </div>
	  <script src="js/jquery-3.2.1.min.js"></script>
	  <script src="js/bootstrap.min.js"></script>
	  <script src="js/jquery.slicknav.min.js"></script>
	  <script src="js/owl.carousel.min.js"></script>
	  <script src="js/jquery.nicescroll.min.js"></script>
	  <script src="js/jquery.zoom.min.js"></script>
	  <script src="js/jquery-ui.min.js"></script>
	  <script src="js/main.js"></script>
</body>
<script>
	
</script>
</html>